body {
  background-color: #f3efe0;
  color: #5028a4;
  font-family: 'Roboto', sans-serif;
}

.primary-yellow-btn {
  background-color: #f5da01;
  color: #ffff;
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-yellow-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.nav-btn {
  cursor: pointer; 
}

.nav-btn:hover {
  color: #e63330;
}

.primary-blue-text-color {
  color: #4444a6;
}

.primary-red-color {
  color: #e63330;
}

.icon-youtube {
  color: #ffff;
  cursor: pointer; 
}

.icon-youtube:hover {
  color: #e63330;
  border-color: #e63330;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-facebook {
  color: #ffff;
  cursor: pointer; 
}

.icon-facebook:hover {
  color: #007bff;
  border-color: #007bff;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-instagram {
  color: #ffff;
  cursor: pointer; 
}

.icon-instagram:hover {
  color: #E1306C;
  border-color: #E1306C;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-twitter {
  color: #ffff;
  cursor: pointer; 
}

.icon-twitter:hover {
  color: #000000;
  border-color: #000000;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.primary-blue-btn {
  background-color: #007bff; 
  color: #ffffff;  
  cursor: pointer; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

.primary-blue-btn:hover {
  background-color: #2596be; 
}

.primary-red-btn {
  background-color: #E1306C;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.primary-red-btn:hover {
  background-color: #C1275A;
}
